:root {
  --cor-fundo: #f0efee;
  --cor-primaria: #8dc6ff;
  --cor-secundaria: #04194d;
  --cor-texto: #04194d;
  --cor-destaque: #8dc6ff;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--cor-primaria);
}

h1 span {
  border-bottom: 2px solid var(--cor-primaria);
  padding-bottom: 5px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 90%;
}

.centralizado {
  max-width: 90%;
  margin: 30px auto;
  padding: 30px auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centralizado h1, .centralizado h2 {
  text-align: center;
}

.texto-sobre {
  max-width: 90%;
  margin: 50px auto;
  padding: 30px auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.texto-sobre h1, .texto-sobre span {
  text-align: center;
}

.texto-sobre p {
  text-align: center;
}

/* Collapsible Materialize Customizado */
.collapsible {
  background-color: var(--cor-secundaria);
  border-radius: 8px;
  overflow: hidden;
}

.collapsible-header {
  background-color: var(--cor-secundaria);
  color: #f0efee;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #01091d;
}

.collapsible-body {
  background-color: #01091d;
  color: #f0efee;
  font-size: 16px;
  padding: 20px auto;
}

.material-icons {
  color: var(--cor-hover);
}

.botao-personalizado {
  background-color: #04194d;
  color: #8dc6ff;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.botao-personalizado:hover {
  background-color: #8dc6ff;
  color: #04194d;
}